/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&flash0 {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000c000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 0x00070000>;
		};
		slot1_partition: partition@7c000 {
			label = "image-1";
			reg = <0x0007c000 0x00070000>;
		};
		extrittio_bootstrap_a_partition: partition@ec000 {
			label = "extrittio-bootstrap-a";
			reg = <0x000ec000 0x00008000>;
		};
		extrittio_bootstrap_b_partition: partition@f4000 {
			label = "extrittio-bootstrap-b";
			reg = <0x000f4000 0x00008000>;
		};
		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0x000fc000 0x00004000>;
		};
	};
};
