<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.extrittio.agent</string>
    <key>CFBundleName</key>
    <string>Extrittio</string>
    <key>NSLocationUsageDescription</key>
    <string>Extrittio collects location data to report device position to the IoT hub.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Extrittio collects location data to report device position to the IoT hub.</string>
</dict>
</plist>
